@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lato:ital,wght@0,300;0,400;1,300&family=Montserrat:ital,wght@1,400;1,900&family=Poppins:wght@400;700&display=swap');

:root{
	--primary-color : #007AF3;
	--secondary-color: #20272E;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: #F2F2F2;
	font-family: 'Poppins', sans-serif;

}
#contact{
	scroll-behavior: smooth;
}
/*navigation started */
.nav-bar{
	background: white;
	padding: 1.5em;
	width: 100%;
}
.logo{
	text-decoration: none;
	color: #000;
	font-weight: bold;
	font-size: 1.3rem;
}
.logo span{
	color: var(--primary-color);
}
nav{
	display: none;
}
.nav-bar .container{
	display: flex;
	place-content: space-between;
}
.mobile-menu{
	cursor: pointer;
}
/*front page section started */

.hero{
	text-align: center;
}
.left-col .sub-heading{
	text-transform: uppercase;
	color: gray;
	font-weight: bold;
	letter-spacing: .3em;

}
.left-col h1{
	font-size: 2.4em;
	line-height: 1.3em;
}
.left-col .primary-cta{
	background: var(--primary-color);
	color: white;
	font-weight: bold;
	padding: .6em 1.4em;
	border-radius: 5em;
	text-decoration: none;
	font-size: 1.4em;
	display: inline-block;
	
	margin: 1em auto;
}
.watch-video-cta{
	display: block;
}
.watch-video-cta img{
	margin-right: .5em;
}
.hero-img{
	width: 70%;
	margin-top: 3em;
}
section.features-section{
	background: #20272E;
	color: #fff;
}
.features-list{
	margin: 0;
	padding-left: .5em;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(18rem,1fr));
}
.features-list li{
	font-size: 1.1em;
	margin-left: 3em;
	margin-bottom: 1em;
	position: relative;
}
.features-list li:before{
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	background-image: url('images/bullet.svg');
	background-size: contain;
	margin-right: .5em;
	left: -2em;
}
.features-section img{
	display: none;
}

/* section 2 testimonials-section started*/

.testimonials-section{
	background: var(--primary-color);
	color: white;
}

.testimonials-section li img{
	width: 5em;
	height: 5em;
	margin-top: -4.5em;
	border-radius: 50%;
}
.testimonials-section li{
	background: #006BD6;
	text-align: center;
	width: 80%;
	margin: 0 auto 5em auto;
	padding: 2em 1em;
	border-radius: 1em;
	font-size: 1.1em;
}

/* contact area starts */
.contact-section h2{
	font-size: 2em;
}
form label{
	display: block;
	font-size: 1.2em;
	margin-bottom: .5em;

}
input, textarea{
	width: 100%;
	padding: .8em;
	margin: .5em auto;
	border-radius: .3em;
	border: 1px solid gray;
	box-sizing: border-box;
}
input[type="submit"]{
		font-size: 1.3em;
		font-weight: bold;
		background: var(--primary-color);
		border: none;
		border-radius: 5em;
		color: white;
		padding: .8em 2em;
		width: unset;
		display: inline-block;
		margin-bottom: 5em;
		cursor: pointer;
}
iframe{
	width: 100%;
	height: 300px;
}
/* Mobile navigation design */
nav.menu-btn{
	display: block;
}
nav{
	position: fixed;
	right: 0;
	background: var(--secondary-color);
	color: white;
	height: 100vh;
	width: 60%;
	padding: 1.5em 1em;
	top: 0;
	z-index: 999;
}
nav .primary-nav{
	margin-top: 5em;
}
.nav-bar li{
	padding: .5em .6em;
}
.nav-bar li a{
	color: white;
	display: block;
	text-decoration: none;
	text-align: center;
	font-size: 1.1em;
	transition: .5s;

}
.nav-bar li a:hover{
	font-weight: bold;
}

.mobile-menu-exit{
	float: right;
	cursor: pointer;
	margin: .5em;
	}
/* Resposive design started for tablet */

@media only screen and (min-width: 760px){

	.mobile-menu-exit,.mobile-menu{
		display: none;
	}
	.nav-bar .container{
		display: grid;
		grid-template-columns: 180px auto ;
		justify-content: unset;
	}
	.nav-bar nav{
		display: flex;
		background: none;
		justify-content: space-between;
		position: unset;
		height: auto;
		width: 100%;
		padding: 0;

	}

	.nav-bar nav ul{
		display: flex;
	}
	
		.nav-bar li a{
		color: black;
		font-size: 1em;
		padding: .1em 1em;
	}

	ul.primary-nav{
		margin: 0;
	}
	li.current a{
		font-weight: bold;
	}
	li.go-premium-cta a{
		color: var(--primary-color);
		border: 3px solid var(--primary-color);
		border-radius: 5em;
		font-weight: bold;
		margin-top: -.2em;
	}
	li.go-premium-cta a:hover{
		background: var(--primary-color);
		color: #fff;
	}
	.logo{
		margin-top: .3em;
		font-size: 1.3em;
	}
}
/* Resposive design started for desktop */
@media only screen and (min-width:  1080px){
	.container{
		width: 1080px;
		margin: 0 auto;
	}
	.hero .container{
		display: flex;
		justify-content: space-between;
		padding: 5em 3em;
		text-align: left;

	}
	.hero .left-col{
		width: 45%;
		margin-top: 3em;
	}
	.left-col h1{
		font-size: 3em;
	}
	.left-col .hero-cta{
		display: flex;
		margin-top: 2em;

	}
	.hero-cta .primary-cta{
		margin-left: .3em;
		margin-right: 1em;
	}
	.hero-cta .watch-video-cta{
		margin-top: 2.6em;
	}
	.hero .hero-img{
		width: 30%;
		margin-right: 6em;
	}
	/*features section started*/

	.features-list{
		display: block;
		margin-left: 5em;
	}
	.features-list li{
		font-size: 1.4em;
	}
	.features-section{
		position: relative;
	}
	.features-section .container img{
		display: block;
		position: absolute;
		right: 0;
		width: 400px;
		top: 150px;
	}

	
	.testimonials-section ul{
		display: flex;
		padding: 1em 0;
		margin-top: 1em;
	}
	.testimonials-section ul li{
		margin: 0 1em;
		font-size: 1rem;


	}

	/* contact section started */
	.contact-section{
		position: relative;
	}
	.contact-section .container{
		display: flex;
	}
	.contact-right{
		position: absolute;
		width: 45%;
		height: 100%;
		top: 0;
		right: 0;
	}
	.contact-right iframe{
		height: 100%;
	}
}
@media only screen and (min-width: 1350px){

	.features-section::before{
		content: ' ';
		position: absolute;
		width: 100px;
		height: 350px;
		background: var(--primary-color);
		top: -4em;
		left: 0;
		z-index: 100;
	}
	.features-section::after{
		content: ' ';
		position: absolute;
		width: 120px;
		height: 6.8em;
		background: url(images/dots.svg);
		top: 3em;
		left: 3em;
		z-index: 100;
	}
}
