@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lato:ital,wght@0,300;0,400;1,300&family=Montserrat:ital,wght@1,400;1,900&family=Poppins:wght@400;700&display=swap');

:root{
	--primary-color : #007AF3;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: #F2F2F2;
	font-family: 'Poppins', sans-serif;

}
/*navigation started */
.nav-bar{
	background: white;
	padding: 1.5em;
	width: 100%;
}
.logo{
	text-decoration: none;
	color: #000;
	font-weight: bold;
	font-size: 1.3rem;
}
.logo span{
	color: var(--primary-color);
}
nav{
	display: none;
}
.nav-bar .container{
	display: flex;
	place-content: space-between;
}
.mobile-menu{
	cursor: pointer;
}
/*front page section started */

.hero{
	text-align: center;
}
.left-col .sub-heading{
	text-transform: uppercase;
	color: gray;
	font-weight: bold;
	letter-spacing: .3em;

}
.left-col h1{
	font-size: 2.4em;
	line-height: 1.3em;
}
.left-col .primary-cta{
	background: var(--primary-color);
	color: white;
	font-weight: bold;
	padding: .6em 1.4em;
	border-radius: 5em;
	text-decoration: none;
	font-size: 1.4em;
	display: inline-block;
	
	margin: 1em auto;
}
.watch-video-cta{
	display: block;
}
.watch-video-cta img{
	margin-right: .5em;
}
.hero-img{
	width: 70%;
	margin-top: 3em;
}
section.features-section{
	background: #20272E;
	color: #fff;
}
.features-list{
	margin: 0;
	padding-left: .5em;
}
.features-list li{
	font-size: 1.1em;
	margin-left: 3em;
	margin-bottom: 1em;
	position: relative;
}
.features-list li:before{
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	background-image: url('images/bullet.svg');
	background-size: contain;
	margin-right: .5em;
	left: -2em;
}
.features-section img{
	display: none;
}

/* section 2 testimonials-section started*/

.testimonials-section{
	background: var(--primary-color);
	color: white;
}

.testimonials-section li img{
	width: 5em;
	height: 5em;
	margin-top: -4.5em;
	border-radius: 50%;
}
.testimonials-section li{
	background: #006BD6;
	text-align: center;
	width: 80%;
	margin: 0 auto 5em auto;
	padding: 2em 1em;
	border-radius: 1em;
	font-size: 1.1em;
}

/* contact area starts */
.contact-section h2{
	font-size: 2em;
}
form label{
	display: block;
	font-size: 1.2em;
	margin-bottom: .5em;

}
input, textarea{
	width: 100%;
	padding: .8em;
	margin: .5em auto;
	border-radius: .3em;
	border: 1px solid gray;
	box-sizing: border-box;
}
input[type="submit"]{
		font-size: 1.3em;
		font-weight: bold;
		background: var(--primary-color);
		border: none;
		border-radius: 5em;
		color: white;
		padding: .8em 2em;
		width: unset;
		display: inline-block;
		margin-bottom: 5em;
		cursor: pointer;
}
iframe{
	width: 100%;
	height: 300px;
}
/*utilities*/
